<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <%-include('template.ejs') %>
    <div id="products">
        <% if( locals.cart ) { %>
        <% for(const product of locals.cart) { %>
            <div class="product">
                <img src="/images/<%= product.image %>" alt="<%= product.image %>">
                <div class="product-info">
                    <%= product.name %> <br>
                    $<%= (product.price * product.quantity) %> <br>
                    <%= product.quantity %> <br>
                    <a href="/deletefromcart/<%= product.id %>">Delete One</a><span class="tab"></span>
                    <a href="/deletefromcartall/<%= product.id %>">Delete All</a>
                </div>
            </div>
        <% } %>
        <% } %>
    </div>
</body>
</html>