<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <%-include('template.ejs') %>
    <div id="products">
        <% if( locals.cart ) { %>
        <% for(const product of locals.cart) { %>
            <li>
                <div class="product">
                    <img src="/images/<%= product.image %>" alt="<%= product.image %>">
                    <div class="product-info">
                        <%= product.name %> <br>
                        $<%= (product.price * product.quantity) %> <br>
                        <%= product.quantity %> <br>
                        <a href="/deletefromcart/<%= product.id %>">Delete One</a><span class="tab"></span>
                        <a href="/deletefromcartall/<%= product.id %>">Delete All</a>
                    </div>
                </div>
        </li>
        <% } %>
        <% } %>
    </div>
    <% if ( locals.cart && locals.cart.length > 0) { %>
        <div id="total">
            <h2>Total: $<%= locals.total %></h2>
            <form action="/cart" method="post">
                            <input type="hidden" value="<%= locals.cart %>">
                <input type="submit" value="Checkout">
            </form>
        </div>
    <% } %>
</body>
</html>