<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Merchendise</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <%- include('./template.ejs') %>
    <div id="products">
        <% locals.products.forEach(prod => { %>
            <a href="/product/<%= prod.id %>">
                <div class="product">
                    <img src="/images/<%=prod.image %>" alt="<%= prod.image %>">
                    <div class="product-info">
                        <%= prod.name %> <br>
                        $<%= prod.price %>
                    </div>
                </div>
            </a>
            
        <% }); %>
    </div>
</body>
</html>